li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.burgerBody {
  background-image: url(/public/assets/images/burger-1570463052PEK.jpg);
  background-size: auto;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
  text-align: center;
}

.heading {
  text-align: center;
}

.submit {
  text-align: center;
}

#indexarea {
  background-color: white;
  border: 20px;
  border-color: blue;
  border-style: double;
  padding: 50px;
  margin: 50px;
  display: block;
}
